@model XinemaProject.Models.Showtimes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Showtimes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.showtimesStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showtimesStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.showtimesDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showtimesDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.showtimesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
